body {
  margin: 0;
}

.login-container {
  display: flex;
  width: 100%;
  height: 100vh;
}

/* Left side */
.login-left {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  padding: 40px;
}

.login-box {
  width: 100%;
  max-width: 350px;
}

.login-box h2 {
  font-weight: bold;
  margin-bottom: 30px;
}

.form-control-login {
  width: 345px !important;
  border-radius: 50px !important;
  padding: 12px 20px !important;
  margin-top: 10px !important;
  border: 2px solid #000 !important;
  /* margin-bottom: 15px; */
}

.btn-login {
  background: linear-gradient(90deg, #4a00e0, #8e2de2);
  border: none;
  border-radius: 50px;
  padding: 10px;
  width: 100%;
  color: #fff;
  font-weight: bold;
  transition: 0.3s;
  border-radius: 50%!important;
}

.btn-login:hover {
  opacity: 0.9;
}

.forgot-link {
  display: block;
  margin-top: 12px;
  font-size: 0.9rem;
  color: #6c63ff;
  text-decoration: none;
}

/* Right side */
.login-right {
  flex: 1;
  background: linear-gradient(135deg, #4a00e0, #8e2de2);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  text-align: center;
}

.login-right h3 {
  font-weight: bold;
  margin-bottom: 10px;
}

input:focus-visible{
  border: 1px solid #1976d2 !important;
}

.login-right p {
  font-size: 1.1rem;
  margin-bottom: 20px;
}

.illustration img {
  max-width: 300px;
  margin-top: 20px;
}
/* Main Content */
.main-content {
  margin-left: 240px; /* same as sidebar width */
  width: calc(100% - 240px);
  background: #f8f9fa;
  min-height: 100vh;
}

.card {
  border-radius: 12px;
}
/* LoginNew css starts here */
.signup-container {
  display: flex;
  height: 100vh;
  font-family: Arial, sans-serif;
}

/* Left Side */
.signup-left {
  flex: 1;
  display: flex;
  background-color: #FAFAFA;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.circle {
  width: 40px;
  height: 40px;
  background-color: #ccc;
  border-radius: 50%;
  margin-bottom: 30px;
}

.signup-left h2 {
  font-size: 28px;
  margin-bottom: 15px;
}

.signup-left p {
  text-align: center;
  color: #555;
  font-size: 14px;
  margin-bottom: 20px;
}

.signup-left a {
  color: #000;
  font-weight: 500;
  text-decoration: underline;
  text-align: right;
}

.input-field {
  width: 100%;
  max-width: 300px;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-bottom: 15px;
}

.btn {
  width: 100% !important;
  max-width: 100% !important;
  padding: 12px !important;
  background: #005597 !important;
  color: white !important;
  cursor: pointer !important;
  font-size: 16px !important;
  margin-bottom: 20px !important;
  margin-top: 10px !important;
  border-radius: 50px !important;
}

.login-text {
  font-size: 14px;
  color: #333;
}
.form-submit {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-submit .btn {
  width: 100%;
  max-width: 300px; /* match input width */
}
.listStyle{
  list-style: none;
}
/* Right Side */
.signup-right {
  flex: 1;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.illustration {
  width: 400px;
  margin-bottom: 30px;
}

.signup-right h3 {
  margin-bottom: 20px;
  color: #555;
}

.signup-right ul {
  list-style: disc;
  color: #555;
  font-size: 15px;
}
/* Error message CSS starts here */
.error-message {
  color: red;
  font-size: 0.875rem; /* smaller than input text */
  margin-top: 1px;
  display: block;
  margin-left: 20px;
  margin-bottom: 3px;
}
.is-invalid {
  border-color: red;
}

/* Error message CSS starts here */
/* Header.css */
/* .header-fixed {
  padding: 30px;
} */
.custom-navbar {
  position: fixed; /* Fix navbar on top */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1030; /* Above other content */
  backdrop-filter: blur(10px); /* Glass blur effect */
  /* background-color: #000; /* Semi-transparent dark */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /*Slight shadow */
  transition: background-color 0.3s ease;
  border-bottom: 0.5px solid #ddd;
  color: #000;
}

/* Navbar brand styling */
.custom-navbar .navbar-brand .logo {
  font-size: 1.5rem;
  color: #fff;
}

.custom-navbar .navbar-brand .brand-text {
  font-size: 1.2rem;
  color: #fff;
  opacity: 0.8;
}

/* Nav links */
.nav-link {
  font-size: 1rem; /* default size, can increase */
  transition: all 0.2s ease-in-out; /* smooth effect */
}

.nav-link:hover {
  color: #1976d2 !important; /* MUI blue */
}
.btn-logout {
  background-color: #1976d2 !important;
  color: #fff !important;
  padding: 6px 20px !important;
  font-size: 13px;
  font-weight: 700;
}
/* Toggler button (mobile) */
.navbar-toggler {
  border: none;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/ %3E%3C/svg%3E");
}

/* Navbar or Headeer css ends here */
.MuiContainer-root {
  padding-right: 20px !important;
  padding-left: 20px !important;
}


.product-main-image{
  width: 20%;
  height: 20%;
}