/* Extra small devices (phones, up to 600px) */
@media only screen and (max-width: 600px) {
  /* Styles for extra small screens */
  .signup-container {
    flex-direction: column;
  }

  .signup-right {
    display: none;
  }

  .signup-left {
    width: 100%;
  }
  .form-control-login {
  width: 295px !important;
  border-radius: 50px !important;
  padding: 12px 20px !important;
  margin-top: 10px !important;
  /* margin-bottom: 15px; */
}
}

/* Small devices (portrait tablets and large phones, 601px to 768px) */
@media only screen and (min-width: 601px) and (max-width: 768px) {
  /* Styles for small screens */
  .illustration {
    width: 200px;
    margin-top: 80px;
  }
  .signup-right ul {
    list-style: disc;
    color: #555;
    font-size: 10px;
  }
  /* for fixing box in the screen of tablet */
  .MuiBox-root{
    width: 94% !important;
  }
/*  */
.circle-box{
  width: 40px !important;
  height: 40px !important;
}
}

/* Medium devices (landscape tablets, 769px to 992px) */
@media only screen and (min-width: 769px) and (max-width: 992px) {
  /* Styles for medium screens */
}

/* Large devices (desktops, 993px to 1200px) */
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  /* Styles for large screens */
  .MuiCardContent-root{
    padding: 28px !important;
  }
}

/* Extra large devices (large desktops, 1201px and up) */
@media only screen and (min-width: 1201px) {
  /* Styles for extra large screens */
}
